*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    overflow: hidden;
}

.top_container{
    display: flex;
    width: 80vw;
    height: 10vh;
    margin:1.5% 1.5% 0.3% 1.5%;
    justify-content: flex-start;
}

.top_icons{
    margin-left: 20%;
    /* margin-right: 20%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    width: 70vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top_icons>*{
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: space-around;
    align-items: center;
}

.icon>*{
    font-size: 200%;
}

.active-btn{
    box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.2), 0 6px 20px 0 rgba(49, 49, 49, 0.19);
    border-radius: 5px;
}

.color-selector{
    
}